/* Import typography */
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;800&display=swap");

/* CSS variables */
:root {
  /* Colors */
  /* Background Colors */
  --background: hsl(47, 88%, 63%);

  /* Card Colors */
  --card-background: hsl(0, 0%, 100%);
  --card-title: hsl(47, 88%, 63%);
  --border-color: hsl(0, 0%, 0%);

  /* Text Colors */
  --text-primary: hsl(0, 0%, 7%);
  --text-secondary: hsl(0, 0%, 42%);

  /* Fonts */
  --font-primary: "Figtree", sans-serif;

  /* Font Sizes */
  --FontSize-50: 12px;
  --FontSize-75: 14px;
  --FontSize-100: 16px;
  --FontSize-200: 24px;

  /* Line Heights */
  --LineHeight-100: 150%;

  /* Letter Spacing */
  --LetterSpacing-100: 0px;

  /* type Weights */
  --ExtraLight: 100;
  --Light: 200;
  --LightMedium: 300;
  --Normal: 400;
  --Medium: 500;
  --SemiBold: 600;
  --Bold: 700;
  --ExtraBold: 800;
  --BlackWeight: 900;

  /* Spacing */
  --Spacing-50: 4px;
  --Spacing-100: 8px;
  --Spacing-150: 12px;
  --Spacing-300: 24px;
}

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Card styles */
.card-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--card-background);
  font-family: var(--font-primary);
  box-shadow: 12px 12px 0 #000;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  width: 384px;
  height: auto;
  padding: var(--Spacing-300); 
}

/* Image styles */
.card-image {
  width: 336px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: var(--Spacing-300);
}

/* Card text specific styles */
.card-category {
  display: inline-block;
  width: fit-content;
  padding: var(--Spacing-50) var(--Spacing-150);
  background-color: var(--card-title);
  color: var(--text-primary);
  font-weight: var(--ExtraBold);
  font-size: var(--FontSize-75);
  line-height: var(--LineHeight-100);
  border-radius: 6px;
  margin-bottom: var(--Spacing-150);
}

.published-date {
  font-size: var(--FontSize-75);
  font-weight: var(--Medium);
  line-height: var(--LineHeight-100);
  color: var(--text-primary);
  margin-bottom: var(--Spacing-150);
}

.card-title {
  font-size: var(--FontSize-200);
  font-weight: var(--ExtraBold);
  line-height: var(--LineHeight-100);
  color: var(--text-primary);
  margin-bottom: var(--Spacing-150);
}

.card-title:hover {
  color: var(--card-title);
  cursor: pointer;
}

.card-description {
  color: var(--text-secondary);
  font-size: var(--FontSize-100);
  font-weight: var(--Medium);
  line-height: var(--LineHeight-100);
  margin-bottom: var(--Spacing-300);
}

.card-author {
  display: flex;
  align-items: center;
  gap: var(--Spacing-150);
  font-weight: var(--ExtraBold);
  font-size: var(--FontSize-75);
}

.card-author img {
  weight: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

/* Attribution styles */
.attribution {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: var(--FontSize-50);
  text-align: center;
  padding: ;
}
.attribution a {
  color: var(--text-attribution);
  text-decoration: none;
}

@media (max-width: 375px) {
  .card-main {
    max-width: 327px;
    width: 100%;
    height: auto;
    padding: var(--Spacing-300);
  }

  .card-image {
    width: 100%;
    height: auto;
  }

  .card-text {
    max-width: 279px;
    width: 100%;
    height: auto;
  }
  .card-category, .published-date {
    font-size: var(--FontSize-50);
  }
   
  .card-title {
    font-size: 20px;
  }

  .card-description {
    font-size: var(--FontSize-75);
  }
}


